@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap");

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18171d;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(
    90deg,
    rgba(47, 28, 42, 1) 0%,
    rgba(45, 54, 61, 1) 50%,
    rgba(19, 41, 65, 1) 100%
  );
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: #ba8250;
  text-transform: uppercase;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 17px;
  padding: 20px;
  color: #dfdde0;
  text-transform: uppercase;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #ba8250;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu-label {
  cursor: pointer;
  display: none;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #4e4d5076;
  padding: 20px;
  min-width: 400px;
}

table {
  width: 100%;
}

th,
tb {
  color: #dfdde0;
}
